.page.theme_dark {
    --bg-color: #000028;
    --main-color: #db00ff;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --hover-color: #ff007066;
    --bg-image: url(../images/cover-image-dark.png);
}
