*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-inline-size: 375px;
    max-inline-size: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

picture {
    margin: 0;
    padding: 0;
}

button,
a {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.title-decor {
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    block-size: 25px;
    inline-size: 25px;
    position: absolute;
    display: block;
    inset-inline-end: 10px;
    inset-block-start: 10px;
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
    content: "";
    block-size: 25px;
    inline-size: 25px;
    position: absolute;
    display: block;
    inset-inline-start: 10px;
    inset-block-end: 10px;
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
}

.link {
    text-shadow: 2px 2px 0px var(--accent-color);
    text-decoration: none;
}

.link:hover {
    border-block-end: 1px solid var(--text-color);
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    border: 1px solid var(--text-color);
}
