.page.theme_light {
    --bg-color: #fff1f7;
    --main-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --hover-color: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
}