.page.theme_light {
    --bg-color: #fff1f7;
    --main-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --hover-color: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__theme-menu-button {
    color: var(--text-color);
}

.theme_light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--text-color);
}

.theme_light .header__theme-menu-button_active {
    outline: 1px solid var(--text-color);
}

.theme_light .header__rec {
    display: none;
}

.theme_light .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
}

.theme_light .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
}

.theme_light .title-decor {
    color: var(--text-color);
}

.theme_light .main__title {
    color: var(--text-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --main-color: #ffc2e6;
        --text-color: #353430;
        --accent-color: #ff8dcb;
        --hover-color: #32312d66;
        --bg-image: url(../images/cover-image-light.png);
    }

    .theme_auto .header__theme-menu-button {
        color: var(--text-color);
    }

    .theme_auto .header__theme-menu-button:focus-visible {
        border-block-end: 1px solid var(--text-color);
    }

    .theme_auto .header__theme-menu-button_active {
        outline: 1px solid var(--text-color);
    }

    .theme_auto .decorated-zone::before {
        border-block-start: 1px solid var(--text-color);
        border-inline-end: 1px solid var(--text-color);
    }

    .theme_auto .decorated-zone::after {
        border-block-end: 1px solid var(--text-color);
        border-inline-start: 1px solid var(--text-color);
    }

    .theme_auto .header__rec {
        display: none;
    }

    .theme_auto .title-decor {
        color: var(--text-color);
    }

    .theme_auto .main__title {
        color: var(--text-color);
    }
}
