.page.theme_light {
    --bg-color: #fff1f7;
    --main-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --button-hover-color: #32312d66;
    --hover-color: #32312d66;
    --title-decor-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --rec-display: none;
}
