.title-decor {
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    block-size: 25px;
    inline-size: 25px;
    position: absolute;
    display: block;
    inset-inline-end: 10px;
    inset-block-start: 10px;
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
    content: "";
    block-size: 25px;
    inline-size: 25px;
    position: absolute;
    display: block;
    inset-inline-start: 10px;
    inset-block-end: 10px;
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
}

.link {
    text-shadow: 2px 2px 0px var(--accent-color);
    text-decoration: none;
}

.link:hover {
    border-block-end: 1px solid var(--text-color);
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    border: 1px solid var(--text-color);
}

.page {
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 1.3;
    font-size: 18px;
    display: grid;
    gap: 40px;
}

.header {
    display: grid;
    grid-template: 1fr minmax(min-content, max-content) 1fr / 1fr 1fr;
    block-size: 100vb;
    padding: 10px;
    min-block-size: 668px;
}

.header__title {
    color: var(--main-color);
    text-shadow: 4px 4px 0px var(--accent-color);
    font-size: var(--title-size-mobile);
    font-weight: 700;
    line-height: 0.825;
    grid-column: 1 / 3;
}

.header__rec {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 38px;
    line-height: 1.38889;
    color: var(--accent-color);
}

.header__rec::before {
    content: "";
    display: block;
    position: absolute;
    inset-inline-end: -19px;
    inset-block-start: calc(50% - 4.5px);
    border-radius: 50%;
    block-size: 9px;
    inline-size: 9px;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 3px var(--accent-color);
}

.header__theme-menu {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.header__theme-menu-button {
    background: none;
    border: none;
    text-transform: lowercase;
    cursor: pointer;
    padding: 1.5px 13px;
    line-height: 1;
    block-size: 23px;
    color: var(--accent-color);
    appearance: none;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--accent-color);
}

.header__subtitle {
    grid-column: 1 / 3;
    align-self: center;
}

.header__subtitle-text {
    font-weight: 700;
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px;
}

.main__section {
    display: grid;
    gap: 20px;
}

.main__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent-color);
}

.main__section:nth-child(4) {
    gap: 10px;
}

.main__section-subparagraphs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__list {
    display: grid;
    gap: 20px;
}

.main__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__list-item-title {
    font-size: 18px;
}

.main__subtitle {
    font-weight: 400;
    font-size: 18px;
}

.main__gallery-list {
    display: grid;
    gap: 10px;
}

.main__image {
    inline-size: 100%;
}

.footer {
    display: flex;
    block-size: 100vb;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-block-size: 667px;
}

.footer__title {
    color: var(--main-color);
    text-shadow: 2px 2px 0px var(--accent-color);
    font-size: var(--title-size-mobile);
    font-weight: 700;
    line-height: 0.825;
}

@media (width >= 768px) {
    .page {
        gap: 60px;
    }

    .header {
        padding: 20px;
        min-block-size: 1024px;
    }

    .header__rec {
        inset-block-start: 20px;
        inset-inline-end: 48px;
    }

    .decorated-zone::before {
        inset-inline-end: 20px;
        inset-block-start: 20px;
    }

    .decorated-zone::after {
        inset-inline-start: 20px;
        inset-block-end: 20px;
    }

    .header__title {
        font-size: var(--title-size-desktop);
        margin-inline-start: -20px;
    }

    .header__subtitle {
        grid-column: 2 / 3;
    }

    .main {
        padding: 0 20px;
        gap: 80px;
    }

    .main__section:not(:last-child) {
        grid-template-columns: 1fr 2fr;
    }

    .main__section:nth-child(2) .main__title {
        grid-column: 1;
    }

    .main__section:nth-child(2) .main__list {
        grid-column: 1 / 3;
    }

    .main__section-subparagraphs {
        grid-column: 2 / 3;
    }

    .main__section:nth-child(4) {
        gap: 20px;
    }

    .main__gallery-list {
        gap: 20px;
        grid-template-areas:
            "sunset sunset ice-cream"
            "tape books ice-cream"
            "tape street street";
    }

    .main__image {
        block-size: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: bottom;
    }

    .main__gallery-list-item:nth-child(1) {
        grid-area: sunset;
    }

    .main__gallery-list-item:nth-child(2) {
        grid-area: ice-cream;
    }

    .main__gallery-list-item:nth-child(3) {
        grid-area: tape;
    }

    .main__gallery-list-item:nth-child(4) {
        grid-area: books;
    }

    .main__gallery-list-item:nth-child(5) {
        grid-area: street;
    }

    .footer {
        min-block-size: 1024px;
    }

    .footer__title {
        font-size: var(--title-size-desktop);
    }
}

@media (width >= 1024px) {

    .header {
        min-block-size: 768px;
    }

    .main__section:not(:last-child) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main__section:nth-child(1) .main__list {
        grid-column: 2 / 4;
    }

    .main__section:nth-child(2) .main__list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1 / 4;
    }

    .main__section-subparagraphs {
        grid-column: 2 / 4;
    }

    .header__theme-menu {
        align-self: start;
        justify-self: center;
    }

    .header__theme-menu-list {
        flex-direction: row;
        gap: 10px;
    }

    .footer {
        min-block-size: 768px;
    }
}

/* Стилизация светлой темы */

.theme_light .header__theme-menu-button {
    color: var(--text-color);
}

.theme_light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--text-color);
}

.theme_light .header__theme-menu-button_active {
    outline: 1px solid var(--text-color);
}

.theme_light .header__rec {
    display: none;
}

.theme_light .decorated-zone::before {
    border-block-start: 1px solid var(--text-color);
    border-inline-end: 1px solid var(--text-color);
}

.theme_light .decorated-zone::after {
    border-block-end: 1px solid var(--text-color);
    border-inline-start: 1px solid var(--text-color);
}

.theme_light .title-decor {
    color: var(--text-color);
}

.theme_light .main__title {
    color: var(--text-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --main-color: #ffc2e6;
        --text-color: #353430;
        --accent-color: #ff8dcb;
        --hover-color: #32312d66;
        --bg-image: url(../images/cover-image-light.png);
    }

    .header__theme-menu-button {
        color: var(--text-color);
    }

    .header__theme-menu-button:focus-visible {
        border-block-end: 1px solid var(--text-color);
    }

    .header__theme-menu-button_active {
        outline: 1px solid var(--text-color);
    }

    .decorated-zone::before {
        border-block-start: 1px solid var(--text-color);
        border-inline-end: 1px solid var(--text-color);
    }

    .decorated-zone::after {
        border-block-end: 1px solid var(--text-color);
        border-inline-start: 1px solid var(--text-color);
    }

    .header__rec {
        display: none;
    }

    .title-decor {
        color: var(--text-color);
    }

    .main__title {
        color: var(--text-color);
    }
}